.Combimage {
    /* background-color: blanchedalmond; */
}
.image:hover {
    /* position: absolute; */
    filter: gray;
    /* background-image: url('https://www.iconsdb.com/icons/preview/red/cancel-xxl.png'); */
    opacity: 0.5;
    transition: 1s ease-in-out;
    -webkit-filter: grayscale(1);
    -webkit-transition: all 0.4s ease-in-out;
    -webkit-transform: scale(0.9);
}
